<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1><%= listings.country %>Airbnb Listings</h1>


    <ol>
    <%   listings.forEach(listing=>{ %>
        <li>
             <%= listing._id %>
             <b><%= listing.name %></b> <br> 
             <b><%= listing.price %></b> 
            <br>        
            <%= listing.description %>
            <p></p>
        </li>
    <% }) %> 
    </ol>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>Airbnb Listings</h1>


    <table>
    <%   listings.forEach(listing=>{ %>
        <tr>
             <!-- <%= listing._id %> -->
             <th><%= listing.name %></th> 
             <td><%= listing._id %></td>         
             <td><%= listing.minimum_nights %></td>
             <td> <%= listing.summary %></td>
             <!-- <td> <%= listing.description %></td> -->
        </tr>
    <% }) %> 
    </table>
</body>
</html>
