<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>Airbnb Listing</h1>


    <ol>
        <li>
             <b><%= listing.name %></b> 
            <br>        
            <%= listing.description %>
            <br>
            <%= listing.transit %>
            <br>
            <a href = "<%= listing.listing_url %>"> Look at the listing online</a>
            <br>
            <strong><%= listing.price %></strong>
        </li>
</ol>
</body>
</html>