<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>Airbnb Summaries</h1>


    <table>
        <tr class = "headRow">
        <th>ID</th>
        <th>Name</th>
        <th>#Bedrooms</th>
        <th>Summary</th>
        <th></th>
        </tr>                   
        <!-- looping through listings and displaying properties-->
    <%   summaries.forEach(summary=>{ %>
        <tr>
            <form action="listing">
             <td> <input type = "button" class = "sumID" id="sumID" name = "sumID" value = "<% summary._id %>" 
                onclick = "move(this.value)"><%= summary._id %></td>
             <script>
                //  move to the exact listing when pressing the id
                 function move(val)
                 {
                    <a href="http://localhost:3000/airbnb/listing?sumID=val"></a>
                 }
             </script>
             <!-- <td> <input type = "button" class = "sumID" id="sumID" name = "sumID" value = "<%= summary._id %>"> <%= summary._id %> </button></td> -->
             <td class = "headt"><%= summary.name %></td>
             <td><%=  summary.bedrooms %> Bedrooms</td>         
             <td class = "sum"><%=  summary.summary %></td>    
             <td><img src = "<%= summary.images.picture_url %>" alt = "image not found"></td>
               
            </form>
        </tr>
    <% }) %> 
    </table>
    
</body>
</html>
